html,
body{
	align-items: center;
  
  	padding-bottom: 40px;
	background-color:#32dbd3;
}

p{
	text-align: center;
	font-size: 50px;
	
}
.menu{
	font-size: 25px;
	margin-top: 15px;
	margin-left:230px;
	margin-right: 230px;
	
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 10px;
	
	text-align: center;
}
.menu a {
	margin: 0 40px;
	font-family:serif;
	font-style: italic;
}
a{
	text-decoration:none;
}

.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.login .login-control {
  position: center;
  box-sizing: border-box;
  height: auto;
  padding: 5px;
  font-size: 15px;
}
.botão{
	
}
